## Data preprocessing

In [1]:
import pandas as pd

In [33]:
MI = "../../data/processed/menu_final.txt"
OI = "../../data/processed/orderItems_final.txt"
OE = "../../data/raw/OrderEntry.txt"


menu_item = pd.read_csv(MI)
order_item = pd.read_csv(OI)
order_entry = pd.read_csv(OE)

In [34]:
menu_item = menu_item[['ID','ItemName']]
menu_item.columns= ['MenuItemID','ItemName']

In [35]:

menu_item = menu_item[menu_item['MenuItemID'].apply(lambda x: x.isnumeric())]
menu_item['MenuItemID'] = menu_item['MenuItemID'].astype(int)


menu_item['ItemName'] = menu_item['ItemName'].astype(str)

menu_item.head()

   MenuItemID                                           ItemName
0         432                                       Beer Snacks
1         433  Grenka with Parmesan 2pcs  210g  bread  cheese...
2         434  Mix meat chips 60\100\30\24g  beef  pork  crou...
3         435  Mozzarella sticks with Caesar sauce 140\30\5g ...
4         436                                   Cold appetizers

In [36]:
order_item = order_item[['OrderNumber','MenuItemID', 'Qty']]

order_item = order_item[order_item['MenuItemID'].notnull()]
order_item['MenuItemID'] = order_item['MenuItemID'].astype(int)

order_item.head()

   OrderNumber  MenuItemID  Qty
0          3.0          57  1.0
1          6.0         126  1.0
2          6.0         106  1.0
3          6.0          96  1.0
4          7.0          52  1.0

In [37]:
customers = order_entry[['ID','Customer']]
customers.columns = ['OrderNumber','Customer']
customers.head()

   OrderNumber  Customer
0       104376     59960
1       104377     59968
2       104378     54779
3       104379     30143
4       104380     59971

In [38]:
merged = customers.merge(order_item, how='left', on='OrderNumber')

merged = merged[merged['MenuItemID'].notnull()]
merged['MenuItemID'] = merged['MenuItemID'].astype(int)

merged = merged.merge(menu_item, how='left', on='MenuItemID')

In [45]:
merged.columns = ['OrderID', 'UserID', 'ItemID', 'Number','Description']
merged = merged[['UserID','OrderID','ItemID', 'Number','Description']]    

merged['Description'] = merged['Description'].astype(str)

In [46]:
merged.head()

,UserID,OrderID,ItemID,Number,Description
0,59960,104376,16489,2.0,Classic kebab with lamb 380g lavash lamb pi...
1,59968,104377,2320,1.0,Whopper with cheese Set whopper with cheese v...
2,54779,104378,10745,1.0,Falafel 350g
3,54779,104378,12098,1.0,Vegetarian shawarma 400g cheese mushrooms t...
4,30143,104379,18732,2.0,Kagatsu maki 8pcs 116g rice nori cheese Ph...

In [47]:
merged.dtypes

UserID           int64
OrderID          int64
ItemID           int64
Number         float64
Description     object
dtype: object

In [27]:
merged.to_csv("../../data/processed/userItems.csv")

UserID           int64
OrderID          int64
ItemID           int64
Number         float64
Description     object
dtype: object